ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.0.0

#Agregado por brandon
sklearn #install listo
kedro-viz #install listo
kedro-datasets
pandas
numpy #install listo
matplotlib
seaborn
scikit-learn #install listo
jupyter
sklearn.model_selection
imbalanced-learn #Install listo.  para el balance de clases usado en random forest
xgboost #install listo 
